<div class="chart-card">

  <div class="chart-header">

    <div>
      <h3>{{ titulo }}</h3>

      <small>
        {{ subtitulo }}
      </small>
    </div>

  </div>

  <div class="donut-layout">

    <!-- DONUT -->
    <div class="donut-container">

      <div
        class="donut-chart"
        [style.background]="fondoDonut">

        <div class="donut-center">

          <strong>
            {{ data.length }}
          </strong>

          <span>
            grupos
          </span>

        </div>

      </div>

    </div>

    <!-- LEYENDA -->
    <div class="legend">

      <div
        *ngFor="let item of segmentos"
        class="legend-row">

        <div class="legend-left">

          <span
            class="legend-color"
            [style.background]="item.color">

          </span>

          <span class="legend-label">
            {{ item.concepto }}
          </span>

        </div>

        <div class="legend-right">

          <strong>
            {{ item.participacion | number:'1.2-2' }}%
          </strong>

        </div>

      </div>

    </div>

  </div>

</div>
