<div class="depto-ciudad">
  <div class="form-group">
    <label>Departamento</label>
    <select [value]="idDepartamento" (change)="onDeptoChange($event)">
      <option value="">-- Seleccione --</option>
      <option *ngFor="let d of departamentos" [value]="d.idDepartamento">
        {{ d.nombreDepartamento }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label>Ciudad</label>
    <select [value]="idCiudad" (change)="onCiudadChange($event)">
      <option value="">-- Seleccione --</option>
      <option *ngFor="let c of ciudades" [value]="c.idCiudad">
        {{ c.nombreCiudad }}
      </option>
    </select>
  </div>
</div>
