<div class="benef-box">

  <h3>Beneficiarios</h3>

  <div class="form-grid">

    <input
      type="text"
      placeholder="Documento"
      [(ngModel)]="nuevo.documentoBeneficiario">

    <input
      type="text"
      placeholder="Nombre completo"
      [(ngModel)]="nuevo.nombreBeneficiario">

    <input
      type="text"
      placeholder="Teléfono"
      [(ngModel)]="nuevo.telefonoBeneficiario">

    <input
      type="text"
      placeholder="Celular"
      [(ngModel)]="nuevo.celularBeneficiario">

    <input
      type="text"
      placeholder="Parentesco"
      [(ngModel)]="nuevo.tipoParentesco">

    <button
      type="button"
      class="btn btn--primary"
      (click)="agregar()">
      Agregar
    </button>

  </div>

  <table class="benef-table" *ngIf="beneficiarios.length > 0">
    <thead>
    <tr>
      <th>Documento</th>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Celular</th>
      <th>Parentesco</th>
      <th>Acción</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let b of beneficiarios; let i = index">
      <td>{{ b.documentoBeneficiario }}</td>
      <td>{{ b.nombreBeneficiario }}</td>
      <td>{{ b.telefonoBeneficiario }}</td>
      <td>{{ b.celularBeneficiario }}</td>
      <td>{{ b.tipoParentesco }}</td>
      <td>
        <div class="acciones">
          <button
            class="btn-action-delete"
            type="button"
            (click)="eliminar(i)"
            title="Eliminar">
            🗑️
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
