<nav class="menu-bar">
  <ul class="menu-root">

    <li
      class="menu-root-item"
      *ngFor="let section of menu; let i = index"
      [class.open]="isOpen(i)"
    >

      <!-- NIVEL 1 -->
      <button
        type="button"
        class="menu-title"
        (click)="toggleSection(i)"
      >
        {{ section.title }}
      </button>

      <!-- NIVEL 2 -->
      <ul class="menu-dropdown" *ngIf="isOpen(i)">
        <ng-container *ngFor="let item of section.items">
          <li *ngIf="tienePermiso(item)">
            <a
              [routerLink]="item.route"
              routerLinkActive="active"
              class="menu-item"
              (click)="closeMenu()"
            >
              {{ item.label }}
            </a>
          </li>
        </ng-container>
      </ul>

    </li>

  </ul>
</nav>
