<div class="financieros-list">

  <app-header-actions
    titulo="Información Financiera"
    [mostrarNuevo]="false"
    [mostrarImprimir]="true"
    [mostrarExportar]="true"
    (imprimir)="imprimir()"
    (exportar)="exportar()">
  </app-header-actions>

  <div class="filtro mb-3">
    <input
      type="text"
      placeholder="Buscar por nombre o documento..."
      [(ngModel)]="filtro"
      (input)="filtrar()"
      class="form-control"
    />
  </div>

  <table *ngIf="!cargando && filtradas.length > 0" class="table table-striped table-hover">
    <thead>
    <tr>
      <th>Documento</th>
      <th>Nombre completo</th>
      <th>Ingresos (Total)</th>
      <th>Egresos (Total)</th>
      <th>Patrimonio Neto</th>
      <th>Fecha actualización</th>
      <th>Acción</th>
    </tr>
    </thead>

    <tbody>
    <tr *ngFor="let p of paginadas">
      <td>{{ p.tipoDocumento }} {{ p.documento }}</td>
      <td>{{ p.nombres }} {{ p.primerApellido }} {{ p.segundoApellido }}</td>

      <td>
        {{
        (p.financiero?.valorSalario ?? 0) +
        (p.financiero?.valorPension ?? 0) +
        (p.financiero?.ingresosArriendo ?? 0) +
        (p.financiero?.ingresosComisiones ?? 0) +
        (p.financiero?.otrosIngresos ?? 0)
        | number: '1.0-0'
        }}
      </td>

      <td>
        {{
        (p.financiero?.egresosFamiliares ?? 0) +
        (p.financiero?.egresosArriendo ?? 0) +
        (p.financiero?.egresosCredito ?? 0) +
        (p.financiero?.otrosEgresos ?? 0)
        | number: '1.0-0'
        }}
      </td>

      <td>
        {{
        ((p.financiero?.totalActivos ?? 0) - (p.financiero?.totalPasivos ?? 0))
        | number: '1.0-0'
        }}
      </td>

      <td>{{ p.fechaActualizacion | date: 'dd/MM/yyyy' }}</td>

      <td class="text-center">
        <button
          type="button"
          class="btn-action-edit btn-action-text"
          (click)="gestionar(p, p.financiero)">
          {{ p.financiero ? 'Gestionar' : 'Crear' }}
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="pagination-controls" *ngIf="!cargando && filtradas.length > tamanoPagina">

    <button
      type="button"
      class="btn btn--secondary"
      (click)="cambiarPagina(pagina - 1)"
      [disabled]="pagina === 1">
      Anterior
    </button>

    <span>Página {{ pagina }} / {{ totalPaginas() }}</span>

    <button
      type="button"
      class="btn btn--secondary"
      (click)="cambiarPagina(pagina + 1)"
      [disabled]="pagina === totalPaginas()">
      Siguiente
    </button>

  </div>

  <div *ngIf="cargando" class="loading">
    <i class="bi bi-hourglass-split"></i> Cargando datos financieros...
  </div>

  <div *ngIf="!cargando && filtradas.length === 0" class="empty">
    <i class="bi bi-inbox"></i> No hay registros financieros para mostrar.
  </div>

  <div *ngIf="error" class="error">
    <i class="bi bi-exclamation-triangle"></i> {{ error }}
  </div>
</div>
